:root {
    /* Colors */
    --bg-color: #10375C;
    --text-color: #F3C623;
    --text-color-white: #F4F6FF;
    --bg-grid-color: #F5F7F8;

}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    place-items: center;
    place-content: center;
    color: var(--text-color-white);
}

.container {
    margin: 1em;
}

.grid-container {
    background-color: var(--text-color-white);
    width: 510px;
    height: 510px;
    margin: 1em auto;
    padding: 0;
    border: rgba(10, 10, 10, 0.1) solid 5px;

}

h1 {
    text-align: center;
    margin: 0.7em;
    font-size: 48px;
}

h4 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.5rem;
    opacity: .7;
}

.input-controler,
.buttons-controler {

    display: flex;
    gap: 10px;

}

.input-controler {

    margin-bottom: 16px;
}


.buttons-controler * {
    flex: 1;
}

.grid-size {
    flex: 1;
}

button {
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
    height: 25px;
    font-weight: bold;
    border-radius: 5px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1;
    background-color: var(--bg-grid-color);
}

.block {
    flex: 1;
    background-color: white;
}