:root {
    /* Colors */
    --bg-color: #10375C;
    --text-color: #F3C623;
    --text-color-white: #F4F6FF;

}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    place-items: center;
    place-content: center;
    color: var(--text-color-white);
}

.grid-container {
    background-color: var(--text-color-white);
    width: 500px;
    height: 500px;
    margin: 1em auto;

}

h1 {
    text-align: center;
    margin: 1em;
}

.input-controler,
.button-controler {

    display: flex;
    gap: 10px;

}

.input-controler {

    margin-bottom: 16px;
}


.button-controler * {
    flex: 1;
}

.grid-size {
    flex: 1;
}